*, *::before, *::after{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: 'Zen Dots', cursive;
}

html{
  color-scheme: dark light;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8282;
  min-height: 100vh;
}

img, picture, svg, video{
  display: block;
  max-width: 100%;
}

h1{
  color: #FFF;
  font-size: 3rem;
  font-weight: 400;
}

